{% extends 'base.html.twig' %}
{% block title %} Info Estudiante{% endblock %}  
{% block contenido %}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Estudiante</h3>
        <h6 class="card-subtitle mb-2 text-muted">Informacion</h6>
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                <div class="form-group row row">
                    <label for="identificacion" class="col-sm-2 col-form-label text-right"><strong>Identificaci&oacute;n:</strong> </label>
                    <div class="col-sm-9 col-form-label">
               			{{   estudiante.identificacion  }}
            		</div>
        		</div>
                <div class="form-group row">
                	<label for="tipoIdentificacion" class="col-sm-2 col-form-label text-right"><strong>Tipo identificaci&oacute;n</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.tipoIdentificacion  }}
                	</div>
                </div>
                <div class="form-group row">
                	<label for="nombres" class="col-sm-2 col-form-label text-right"><strong>Nombres:</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.nombres  }}
                	</div>
                </div>
                <div class="form-group row">
                	<label for="fechaNacimiento" class="col-sm-2 col-form-label text-right"><strong>Fecha Nacimiento:</strong></label>
                	<div class="col-sm-4 col-form-label">
                	    {{   estudiante.fechaNacimiento|date()  }}
                	</div>
                </div>
                <div class="form-group row">
                	<label for="celular" class="col-sm-2 col-form-label text-right"><strong>Celular:</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.celular  }}
                	</div>
                </div>
                <div class="form-group row">
                	<label for="telefono" class="col-sm-2 col-form-label text-right"><strong>Telefono:</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.telefono  }}
                	</div>
                </div>
                <div class="form-group row">
                	<label for="email" class="col-sm-2 col-form-label text-right"><strong>Email:</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.email  }}
                	</div>
                </div>
                <div class="form-group row">
                	<label for="direccion" class="col-sm-2 col-form-label text-right"><strong>Direcci&oacute;n:</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.direccion  }}
                	</div>
                </div>  
                <div class="form-group row">
                	<label for="direccion" class="col-sm-2 col-form-label text-right"><strong>Direcci&oacute;n:</strong></label>
                	<div class="col-sm-9 col-form-label">
                	    {{   estudiante.idcarrera.nombre  }}
                	</div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
