{% extends 'base.html.twig' %}
{% block title %} Nuevo Estudiante{% endblock %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Asignatura</h3>
        <h6 class="card-subtitle mb-2 text-muted">Nuevo</h6>
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                {{ form_start(form) }}
                	<div class ="form-group row" style="display:none">
                	    {{ form_widget(form.idAsignatura,{'attr':{'class':'form-control','placeholder':'', 'id':"idEstudiante"}} ) }}
                	</div>
                    <div class="form-group row row">
                        <label for="identificacion" class="col-sm-2 col-form-label text-right">Nombre:</label>
                        <div class="col-sm-9">
                   			{{ form_widget(form.nombre,{'attr':{'class':'form-control','placeholder':'Ingrese un nombre', 'id':"nombre"}} ) }}
                		</div>
            		</div>
                    <div class="form-group row">
                    	<label for="descripcion" class="col-sm-2 col-form-label text-right">Descripcion:</label>
                    	<div class="col-sm-9">
                    	    {{ form_widget(form.descripcion,{'attr':{'class':'form-control','placeholder':'Ingrese una descripcion', 'id':"descripcion"}} ) }}
                    	</div>
                    </div>
                    <div class="form-group row">
                    	<label for="nivel" class="col-sm-2 col-form-label text-right">Nivel:</label>
                    	<div class="col-sm-9">
                    	    {{ form_widget(form.nivel,{'attr':{'class':'form-control','placeholder':'Ingrese un nivel', 'id':"nivel"}} ) }}
                    	</div>
                    </div>
                    <div class="form-group row">
                    	<label for="creditos" class="col-sm-2 col-form-label text-right">Creditos:</label>
                    	<div class="col-sm-4">
                    	    {{ form_widget(form.creditos,{'attr':{'class':'form-control'}} ) }}
                    	</div>
                    </div>
                    <!-- Periodo Academico -->
                    <div class="form-group row">
                    	<label for="carrera" class="col-sm-2 col-form-label text-right">Carrera:</label>
                    	<div class="col-sm-7">
                      		<input type="text" id= "nombreCarrera" class="form-control" placeholder="Carrera a inscribirse" disabled>
                      	</div>
                      	<div class="col-sm-2">
            				{{ render(controller('AppBundle:Carrera:listar')) }}		
            			</div>
            			<div class="col-sm-1">
                      	    {{ form_widget(form.idcarrera,{'attr':{'style':"visibility:hidden"}} ) }}
                      	</div>	  
                    </div>
                    <!-- Asignatura -->
                    <div class="form-group row">
                    	<label for="carrera" class="col-sm-2 col-form-label text-right">Carrera:</label>
                    	<div class="col-sm-7">
                      		<input type="text" id= "nombreCarrera" class="form-control" placeholder="Carrera a inscribirse" disabled>
                      	</div>
                      	<div class="col-sm-2">
            				{{ render(controller('AppBundle:Carrera:listar')) }}		
            			</div>
            			<div class="col-sm-1">
                      	    {{ form_widget(form.idcarrera,{'attr':{'style':"visibility:hidden"}} ) }}
                      	</div>	  
                    </div>
                    <!-- Aula -->
                    <div class="form-group row">
                    	<label for="carrera" class="col-sm-2 col-form-label text-right">Carrera:</label>
                    	<div class="col-sm-7">
                      		<input type="text" id= "nombreCarrera" class="form-control" placeholder="Carrera a inscribirse" disabled>
                      	</div>
                      	<div class="col-sm-2">
            				{{ render(controller('AppBundle:Carrera:listar')) }}		
            			</div>
            			<div class="col-sm-1">
                      	    {{ form_widget(form.idcarrera,{'attr':{'style':"visibility:hidden"}} ) }}
                      	</div>	  
                    </div>
                    <!-- Profesor -->
                    <div class="form-group row">
                    	<label for="carrera" class="col-sm-2 col-form-label text-right">Carrera:</label>
                    	<div class="col-sm-7">
                      		<input type="text" id= "nombreCarrera" class="form-control" placeholder="Carrera a inscribirse" disabled>
                      	</div>
                      	<div class="col-sm-2">
            				{{ render(controller('AppBundle:Carrera:listar')) }}		
            			</div>
            			<div class="col-sm-1">
                      	    {{ form_widget(form.idcarrera,{'attr':{'style':"visibility:hidden"}} ) }}
                      	</div>	  
                    </div>
                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-12 widget-right no-padding">
                        	<button type="submit" class="btn btn-primary btn-md float-right">Guardar</button>
                        </div>
                    </div> 
                {{ form_end(form) }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}