<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
            <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
            <script src="{{ asset('public/js/tether.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>

        {% endblock %}
    </body>
</html>
