<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="{{ asset('public/images/favicon.ico') }}">
    	<title>{% block title %}Sistema Académico{% endblock %}</title>
    	{% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('public/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <!-- Icons -->
            <link href="{{ asset('public/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
            <!-- Custom styles for this template -->
            <link href="{{ asset('public/css/style.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('public/css/gijgo.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
    	<div class="container-fluid" id="wrapper">
    		<div class="row">
    			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
    				<h1 class="site-title"> <img class="img-fluid" src="{{ asset('public/images/logoRuminahui.png') }}" ></h1>
    				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
    				<ul class="nav nav-pills flex-column sidebar-nav">
    					<li class="nav-item"><a class="nav-link active" href="index.html"><em class="fa fa-dashboard"></em> Bienvenidos <span class="sr-only">(current)</span></a></li>
    					<li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Estudiante</a></li>
    					<li class="nav-item"><a class="nav-link" href="charts.html"><em class="fa fa-bar-chart"></em> Carrera</a></li>
    					<li class="nav-item"><a class="nav-link" href="elements.html"><em class="fa fa-hand-o-up"></em> Aula</a></li>
    					<li class="nav-item"><a class="nav-link" href="cards.html"><em class="fa fa-clone"></em> Profesor</a></li>
    				</ul>
    				
    				<a href="#" class="logout-button"><em class="fa fa-power-off"></em> Cerrar Sesión</a></nav>
    			
    			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
    				<header class="page-header row justify-center">
    					<div class="col-md-6 col-lg-8" >
    						<h1 class="float-left text-center text-md-left">Bienvenidos</h1>
    					</div>
    					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
    						<a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    							<img src="/public/images/fotoPerfilChica.jpg" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
    								<div class="username mt-1">
    									<h4 class="mb-1">Usuario</h4>
    									<h6 class="text-muted">Super Admin</h6>
    								</div>
    						</a>
    						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#">
    							<em class="fa fa-user-circle mr-1"></em> Ver Perfil</a>
    						    <a class="dropdown-item" href="#"><em class="fa fa-sliders mr-1"></em> Preferencias</a>
    						    <a class="dropdown-item" href="#"><em class="fa fa-power-off mr-1"></em> Cerrar Sesión</a>
    						 </div>
    					</div>
    					<div class="clear"></div>
    				</header>
    				<section class="row">
    					<div class="col-sm-12">
    						{% block body %}
        
                            {% endblock %}
    					</div>
    				</section>
    			</main>
    		</div>
    	</div>
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/tether.min.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/dist/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/chart.min.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/chart-data.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/easypiechart.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/easypiechart-data.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/bootstrap-datepicker.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/custom.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/gijgo.min.js') }}" type="text/javascript" charset="utf-8"></script>
            <script src="{{ asset('public/js/popper.min.js') }}" type="text/javascript" charset="utf-8" ></script>
        {% endblock %}
    </body>
</html>
