<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="{{ asset('public/images/favicon.ico') }}">
    	<title>{% block title %}Sistema Académico{% endblock %}</title>
    	{% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('public/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <!-- Icons -->
            <link href="{{ asset('public/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
            <!-- Custom styles for this template -->
            <link href="{{ asset('public/css/style.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('public/css/gijgo.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        	<div class="container-fluid" id="wrapper">
        		<div class="row">
        			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
        				<h1 class="site-title"><a href="{{ path('homepage') }}"><img class="img-fluid" src="{{ asset('public/images/logoRuminahui.png') }}" ></a> </h1>
        				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
        				<ul class="nav nav-pills flex-column sidebar-nav">
        					<li class="nav-item"><a class="nav-link active" href="{{ path('homepage') }}"><em class="fa fa-building"></em> Bienvenidos <span class="sr-only">(current)</span></a></li>
        					{% if is_granted("ROLE_ADMIN") %}
                            	<li class="nav-item"><a class="nav-link" href="{{ path('administracion_estudiante_inicio')  }}"><em class="fa fa-child"></em> Estudiante</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('carrera_inicio')  }}"><em class="fa fa-bookmark"></em> Carrera</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('aula_inicio')  }}"><em class="fa fa-home"></em> Aula</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('profesor_inicio')  }}"><em class="fa fa-user-circle"></em> Profesor</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('asignatura_inicio')  }}"><em class="fa fa-edit"></em> Asignatura</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('periodo_academico_inicio')  }}"><em class="fa fa-edit"></em> Periodo Academico</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('usuario_inicio')  }}"><em class="fa fa-edit"></em> Usuario</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('actividad_informativa_inicio')  }}"><em class="fa fa-edit"></em> Actividad Informativa</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('asignatura_periodo_inicio')  }}"><em class="fa fa-edit"></em> Asignatura Periodo</a></li>
        						<li class="nav-item"><a class="nav-link" href="{{ path('estudiante_asignatura_inicio')  }}"><em class="fa fa-edit"></em> Estudiante Asignatura</a></li>		
                            {% elseif is_granted("ROLE_PROF") %}
                         		<li class="nav-item"><a class="nav-link" href="{{ path('profesor_asignaturas')  }}"><em class="fa fa-edit"></em> Asignaturas</a></li>   	
                            {% elseif is_granted("ROLE_EST") %}
                            	<li class="nav-item"><a class="nav-link" href="{{ path('estudiante_asignaturas')  }}"><em class="fa fa-edit"></em> Asignaturas </a></li>
                            	<li class="nav-item"><a class="nav-link" href="{{ path('estudiante_asignaturas_actividades')  }}"><em class="fa fa-edit"></em> Actividades </a></li>
                            {% endif %}
        					<!-- Parcial plantilla (Np vamos a utilizar) -->
        					<!-- <li class="nav-item"><a class="nav-link" href="{{ path('parcial_plantilla_inicio')  }}"><em class="fa fa-edit"></em> Parcial Plantilla</a></li> -->
        					<!-- Parcial plantilla detalle (Np vamos a utilizar) -->
        					<!-- <li class="nav-item"><a class="nav-link" href="{{ path('parcial_plantilla_detalle_inicio')  }}"><em class="fa fa-edit"></em> Parcial Plantilla Detalle</a></li> -->
        				</ul>
        				
        				<a  href="/logout" class="logout-button"><em class="fa fa-power-off"></em> Cerrar Sesión</a></nav>
        			
        			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
        				<header class="page-header row justify-center">
        					<div class="col-md-6 col-lg-8" >
        						<h1 class="float-left text-center text-md-left">Bienvenidos</h1>
        					</div>
        					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
        						<a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        							<img src="/public/images/fotoPerfilChica.jpg" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
        								<div class="username mt-1">
            								<h4 class="mb-1">{{ app.user.username }}</h4>
            								{% if is_granted("ROLE_ADMIN") %}
                                            	<h5 class="mb-1">ADMINISTRADOR</h5>	
                                            {% elseif is_granted("ROLE_PROF") %}
                                            	<h5 class="mb-1">PROFESOR</h5>
                                            {% elseif is_granted("ROLE_EST") %}
                                            	<h5 class="mb-1">ESTUDIANTE</h5>
                                            {% endif %}
        								</div>
        						</a>
        						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#">
        							<em class="fa fa-user-circle mr-1"></em> Ver Perfil</a>
        						    <a class="dropdown-item" href="#"><em class="fa fa-sliders mr-1"></em> Preferencias</a>
        						    <a class="dropdown-item" href="/logout"><em class="fa fa-power-off mr-1"></em> Cerrar Sesión</a>
        						 </div>
        					</div>
        					<div class="clear"></div>
        				</header>
        				<section class="row">
        					<div class="col">
        						{% block contenido %}
            						
                                {% endblock %}
        					</div>
        				</section>
        			</main>
        		</div>
        	</div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/tether.min.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/dist/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8" ></script>
			<script src="{{ asset('public/js/chart.min.js') }}" type="text/javascript" charset="utf-8" ></script>
			<script src="{{ asset('public/js/chart-data.js') }}" type="text/javascript" charset="utf-8" ></script>
			<script src="{{ asset('public/js/bootstrap-datepicker.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/custom.js') }}" type="text/javascript" charset="utf-8" ></script>
            <script src="{{ asset('public/js/gijgo.min.js') }}" type="text/javascript" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
