{% extends 'base.html.twig' %}
{% block title  %} Inicio Profesor{% endblock %}
{% block contenido %}
    <div class="row">
        <div class='col'>	
        	<h3> Listado de Profesores</h3>
        </div>
        <div class='col'>
        	<h3 class='text-right'>
        		<a class="btn btn-sm btn-primary" href="{{ path('profesor_nuevo')  }}" role="button"><em class="fa fa-plus"></em>&nbsp;Nuevo</a>
        	</h3>
        </div>	
	</div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
        		<table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">Nombres</th>
                            <th class="text-center" scope="col">Titulo</th>
                            <th class="text-center" scope="col">Email</th>
                            <th class="text-center" scope="col">Cargo</th>
                            <th class="text-center" scope="col">Nick</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set cont = 0 %}
                    {% for profesor in profesores %}
                        <tr>
                            <td class="text-center"> {%  set cont = cont + 1 %} {{ cont }}</td>
                            <td>{{ profesor.nombres }}</td>
                            <td>{{ profesor.titulo }}</td>
                            <td>{{ profesor.email }}</td>
                            <td>{{ profesor.cargo }}</td>
                            <td>
                            	<a class="btn btn-sm btn-secondary" href="{{ path('profesor_editar', {'id': profesor.idProfesor })  }}" role="button"> <em class="fa fa-pencil-square-o"></em>&nbsp;Modificar </a>
                            	<a class="btn btn-sm btn-danger" href="{{ path('profesor_eliminar', {'id': profesor.idProfesor }) }}" role="button"><em class="fa fa-trash"></em>&nbsp;Eliminar</a>
                           	</td>
                        </tr>
                    {%  endfor %}
                    </tbody>
        		</table>
        	</div>    	
        </div>	
    </div>
{% endblock %}