{% extends 'base.html.twig' %}
{% block title %} Nuevo Usuario{% endblock %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Usuario</h3>
        <h6 class="card-subtitle mb-2 text-muted">Nuevo</h6>
		<form class="form-horizontal" action="" method="post">
    		{{ form_start(form) }}
    		<div class ="form-group row" style="display:none">
                {{ form_widget(form.idNick,{'attr':{'class':'form-control','placeholder':'', 'id':"idNick"}} ) }}
            </div>
            <div class="form-group row row">
                <label for="ubicacion" class="col-sm-2 col-form-label text-right">Ingrese su usuario:</label>
                <div class="col-sm-9">
           			{{ form_widget(form.nick,{'attr':{'class':'form-control','placeholder':'Ingrese su usuario', 'id':"nick"}} ) }}
        		</div>
    		</div>
  
  			<div class="form-group row">
			<label for="contrasena" class="col-sm-2 col-form-label text-right"> Ingrese su contrasena:</label>
    			<div class="col-sm-9">
    				{{ form_widget(form.contrasenaPlana.first,{'attr':{'class':'form-control','placeholder':'Ingrese su contrasena', 'id':"nick"}} ) }}
    			</div>
    		</div>
    		<div class="form-group row">
			<label for="contrasena" class="col-sm-2 col-form-label text-right"> Repita su contrasena:</label>
    			<div class="col-sm-9">
    				{{ form_widget(form.contrasenaPlana.second,{'attr':{'class':'form-control','placeholder':'Ingrese su contrasena', 'id':"nick"}} ) }}
    			</div>
    		</div>
    		<div class="form-group row row">
                <label for="tipo" class="col-sm-2 col-form-label text-right">Ingrese tipo de usuario:</label>
                <div class="col-sm-9">
           			{{ form_widget(form.tipo,{'attr':{'class':'form-control','placeholder':'Ingrese tipo', 'id':"tipo"}} ) }}
        		</div>
    		</div>
    		<div class="form-group row row">
                <label for="fechaCreacion" class="col-sm-2 col-form-label text-right">Ingrese fecha de creacion:</label>
                <div class="col-sm-9">
           			{{ form_widget(form.fechaCreacion,{'attr':{'class':'form-control'}} ) }}
        		</div>
    		</div>
    		<div class="form-group row row">
                <label for="estado" class="col-sm-2 col-form-label text-right">Ingrese el estado:</label>
                <div class="col-sm-9">
           			{{ form_widget(form.estado,{'attr':{'class':'form-control','placeholder':'Ingrese estado', 'id':"estado"}} ) }}
        		</div>
    		</div>
			
			 <!-- Form actions -->
            <div class="form-group">
                <div class="col-12 widget-right no-padding">
                	<button type="submit" class="btn btn-primary btn-md float-right">Guardar</button>
                </div>
            </div> 
    		{{ form_end(form) }}
    	</form>
	</div>
</div>
			
{% endblock %}


