{% extends 'base.html.twig' %}
{% block title  %} Inicio Estudiante Asignatura{% endblock %}
{% block contenido %}
    <div class="row">
        <div class='col'>	
        	<h3> Listado de Estudiantes Asignatura</h3>
        </div>
        <div class='col'>
        	<h3 class='text-right'>
        		<a class="btn btn-sm btn-primary" href="{{ path('estudiante_asignatura_nuevo')  }}" role="button"><em class="fa fa-plus"></em>&nbsp;Nuevo</a>
        	</h3>
        </div>	
	</div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
        		<table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">Asignatura</th>
                            <th class="text-center" scope="col">Estudiante</th>
                            <th class="text-center" scope="col">Parcial 1</th>
                            <th class="text-center" scope="col">Parcial 2</th>
                            <th class="text-center" scope="col">Parcial 3</th>
                            <th class="text-center" scope="col">Nota Final</th>
                            <th class="text-center" scope="col">Estado</th>
                            <th class="text-center" scope="col">Acciones</th> 
                        </tr>
                    </thead>
                    <tbody>
                    {% set cont = 0 %}
                    {% for estudianteAsignatura in estudianteAsignaturas %}
                        <tr>
                            <td class="text-center"> {%  set cont = cont + 1 %} {{ cont }}</td>
                            <td>{{ estudianteAsignatura.idAsignaturaPeriodo }}</td>
                            <td>{{ estudianteAsignatura.idEstudiante }}</td>
                            <td>{{ estudianteAsignatura.parcial1  }}</td>
                            <td>{{ estudianteAsignatura.parcial2 }}</td>
                            <td>{{ estudianteAsignatura.parcial3 }}</td>
                            <td>{{ estudianteAsignatura.notaFinal }}</td>
                            <td>{{ estudianteAsignatura.estado }}</td>
                            <td>
                            	<a class="btn btn-sm btn-secondary" href="{{ path('estudiante_asignatura_editar', {'id': estudianteAsignatura.idEstudianteAsignatura })  }}" role="button">Modificar</a>
                            	<a class="btn btn-sm btn-danger" href="{{ path('estudiante_asignatura_eliminar', {'id': estudianteAsignatura.idEstudianteAsignatura }) }}" role="button">Eliminar</a>
                           	</td>
                        </tr>
                    {%  endfor %}
                    </tbody>
        		</table>
        	</div>    	
        </div>	
    </div>
{% endblock %}