    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listar_aula_modal">Ver Aula</button>
    
    <!-- Modal -->
    <div class="modal fade" id="listar_aula_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Aulas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          	{% set cont = 0 %}
          	<div class="table-responsive">
              	<table class="table  table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th class="text-center" scope="col">#</th>
                      <th class="text-center" scope="col">Ubicacion</th>
                      <th class="text-center" scope="col">Capacidad</th>
                      <th class="text-center" scope="col">Escoger</th>
                    </tr>
                  </thead>
                  <tbody>
                       {% for aula in aulas %}
                       <tr>
                            <td class="text-center"> {%  set cont = cont + 1 %} {{ cont }}</td>
                            <td class="text-justify">{{ aula.ubicacion }}</td>
                            <td class="text-justify">{{ aula.capacidad }}</td>
                            <td class="text-center"><button type="button" class="btn btn-secondary btn-sm " onclick="obtenerAula('{{ aula.ubicacion ~ "/" ~ aula.capacidad }}.{{ aula.idAula }}','{{ aula.capacidad }}')" data-dismiss="modal"><i class="fa fa-check"></i></button></td>
                        </tr>
                        {% endfor %}
                    
                  </tbody>
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>