{% extends 'base.html.twig' %}
{% block title %} Nueva Plantilla Parcial{% endblock %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Plantilla Parcial</h3>
        <h6 class="card-subtitle mb-2 text-muted">Nuevo</h6>
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                {{ form_start(form) }}
                	<div class ="form-group row" style="display:none">
                	    {{ form_widget(form.idParcialPlantilla,{'attr':{'class':'form-control','placeholder':'', 'id':"idParcialPlantilla"}} ) }}
                	</div>
                    <div class="form-group row row">
                        <label for="nombre" class="col-sm-2 col-form-label text-right">Nombre:</label>
                        <div class="col-sm-9">
                   			{{ form_widget(form.nombre,{'attr':{'class':'form-control','placeholder':'Ingrese un nombre', 'id':"nombre"}} ) }}
                		</div>
            		</div>
                    <div class="form-group row">
                    	<label for="descripcion" class="col-sm-2 col-form-label text-right">Descripción:</label>
                    	<div class="col-sm-9">
                    	    {{ form_widget(form.descripcion,{'attr':{'class':'form-control','placeholder':'Ingrese una descripción', 'id':"descripcion"}} ) }}
                    	</div>
                    </div>
                    <div class="form-group row">
                    	<label for="notaAprueba" class="col-sm-2 col-form-label text-right">Nota Aprueba:</label>
                    	<div class="col-sm-9">
                    	    {{ form_widget(form.notaAprueba,{'attr':{'class':'form-control','placeholder':'Ingrese una nota para aprobar', 'id':"notaAprueba"}} ) }}
                    	</div>
                    </div>
                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-12 widget-right no-padding">
                        	<button type="submit" class="btn btn-primary btn-md float-right">Guardar</button>
                        </div>
                    </div> 
                {{ form_end(form) }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}