{% extends 'base.html.twig' %}
{% block title  %} Inicio Carrera{% endblock %}
{% block contenido %}
    <div class="row">
        <div class='col'>	
        	<h3> Listado de Carreras</h3>
        </div>
        <div class='col'>
        	<h3 class='text-right'>
        		<a class="btn btn-sm btn-primary" href="{{ path('carrera_nuevo')  }}" role="button"><em class="fa fa-plus"></em>&nbsp;Nuevo</a>
        	</h3>
        </div>	
	</div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
        		<table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">Nombre</th>
                            <th class="text-center" scope="col">Descripcion</th>
                            <th class="text-center" scope="col">Estado</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set cont = 0 %}
                    {% for carrera in carreras %}
                        <tr>
                            <td class="text-center"> {%  set cont = cont + 1 %} {{ cont }}</td>
                            <td>{{ carrera.nombre }}</td>
                            <td>{{ carrera.descripcion }}</td>
                            {% if carrera.estado == "A" %}
                            	<td> Activo </td>
                            {% elseif  carrera.estado == "I" %}
                            	<td> Inactivo </td>
                            {% elseif  carrera.estado == "E" %}
                            	<td> Eliminado </td>
                            {% elseif  carrera.estado == "N" %}
                            	<td> Anulado </td>
                            {% endif %}
                            <td>
                            	<a class="btn btn-sm btn-primary" href="{{ path('carrera_editar', {'id': carrera.idCarrera })  }}" role="button">Modificar</a>
                            	<a class="btn btn-sm btn-danger" href="{{ path('carrera_eliminar', {'id': carrera.idCarrera }) }}" role="button">Eliminar</a>
                           	</td>
                        </tr>
                    {%  endfor %}
                    </tbody>
        		</table>
        	</div>    	
        </div>	
    </div>
{% endblock %}