{% extends 'base.html.twig' %}
{% block title %} Nueva Periodo Academico{% endblock %}
{% block contenido %}
<div class="card mb-4">
    <div class="card-block">
        <h3 class="card-title">Periodo Academico</h3>
        <h6 class="card-subtitle mb-2 text-muted">Nuevo</h6>
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                {{ form_start(form) }}
                	<div class ="form-group row" style="display:none">
                	    {{ form_widget(form.idPeriodoAcademico,{'attr':{'class':'form-control','placeholder':'', 'id':"idPeriodoAcademico"}} ) }}
                	</div>
                    <div class="form-group row row">
                        <label for="nombre" class="col-sm-2 col-form-label text-right">Parcial Plantilla:</label>
                        <div class="col-sm-9">
                   			{{ form_widget(form.idParcialPlantilla,{'attr':{'class':'form-control', 'id':"idParcialPlantilla"}} ) }}
                		</div>
            		</div>
                    <div class="form-group row">
                    	<label for="fechaNacimiento" class="col-sm-2 col-form-label text-right">Fecha Inicio periodo:</label>
                    	<div class="col-sm-4">
                    	    {{ form_widget(form.fechaInicio,{'attr':{'class':'form-control'}} ) }}
                    	</div>
                    </div>
                    <div class="form-group row">
                    	<label for="fechaNacimiento" class="col-sm-2 col-form-label text-right">Fecha Fin perido:</label>
                    	<div class="col-sm-4">
                    	    {{ form_widget(form.fechaFin,{'attr':{'class':'form-control'}} ) }}
                    	</div>
                    </div>
					<div class="form-group row">
                    	<label for="estado" class="col-sm-2 col-form-label text-right">Estado:</label>
                    	<div class="col-sm-4">
                    	    {{ form_widget(form.estado,{'attr':{'class':'form-control'}} ) }}
                    	</div>
                    </div>                                        
                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-12 widget-right no-padding">
                        	<button type="submit" class="btn btn-primary btn-md float-right">Guardar</button>
                        </div>
                    </div> 
                {{ form_end(form) }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('#appbundle_periodoacademico_fechaInicio').datepicker({
                format: 'yyyy-mm-dd'
            });
            
            $('#appbundle_periodoacademico_fechaFin').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
	</script>
{% endblock %}